/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 vickys change begin 
 */

 @import "materialize";

 .form_input {
    height: 50px;
 }

 .form_header {
    text-align: center;
    text-emphasis-color: #263238;
    font-size: 3.5em;
 }
 .input-field {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 25%;
 }

 #errors {
    font-size: 78%;
    color: red;
    text-align: left;
    margin: 15%;
 }

 .btn {
     margin: 22%;
 }


.login {
    text-emphasis-color: #263238;
    font-size: 2.5em;
    text-align: center;
}

.get_started {
  font-size:100%;
  margin: 1%;
  padding: 1%;
  text-align: center;
  position: absolute;
}



 /*
 vickys change end 
 */

 .Logo {
   position: absolute;
   top: 0px;
   left: 10px;
 }

 .background {
   position: absolute;
   bottom: 5px;
   right: 220px;
 }

.started_button {
  position: absolute;
  top: 50px;
  right: 30px;
}

.login_button {
  position: absolute;
  top: 50px;
  right: 196px;
}

.dog_button {
  position: absolute;
  top: 51px;
  right: 1220px;
}

.users_button {
  position: absolute;
  top: 51px;
  right: 1125px;
}

.support_button {
  position: absolute;
  top: 51px;
  right: 1005px;
}

.Paragraph {
  position: absolute;
  top: 692px;
  left: 400px;
  font-family: ‘Segoe UI’, Tahoma, Geneva, Verdana, sans-serif;
}

.started_button2 {
  position: absolute;
  top: 695px;
  left: 935px;
}

.random {
  position: absolute;
  top: 695px;
  right: 18px;
}

.brand-logo {
  margin-left: 10px;
}
