<div class="body2">
<div class="button1">
<%= button_to "Create User", new_user_path, :method => :get, class: "waves-effect waves-light btn-large blue-grey lighten-3" %>
</div>
<div class="button1">
<%= button_to "Create Dog", new_dog_path, :method => :get, class: "waves-effect waves-light btn-large blue-grey lighten-3"%>
</div>
</div>
