<h1>WELCOME TO THIS FREAKING APP </h1> <br>

<h2> View Our Community </h2>
<%= button_to "Users", users_path, :method => :get %><br>
<%= button_to "Dogs", dogs_path, :method => :get %><br>


<h2> Join Our Community </h2>

<%= button_to "Get Started", get_started_path, :method => :get%>
